<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD POST BHAI</title>
    <link rel="stylesheet" href="/style.css"/>

</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter username" name="username"/><br><br><hr><br><br>
        <textarea placeholder="Write your post" name="content"></textarea><br><br><hr><br><br>
        <button type="submit">Submit post</button>
    </form>
</body>
</html>